USE [ABS_LIFE]
GO
/****** Object:  StoredProcedure [dbo].[SPIL_SEL_CLAIMS_POL]    Script Date: 07/16/2015 15:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SPIL_SEL_CLAIMS_POL]
      @TBIL_POLY_POLICY_NO nvarchar(40)
       
AS
BEGIN
     SELECT * FROM TBIL_POLICY_DET WHERE TBIL_POLY_POLICY_NO=@TBIL_POLY_POLICY_NO
END

