USE [ABS_LIFE]
GO
/****** Object:  StoredProcedure [dbo].[SPIL_SEL_CLAIMSREQUEST_WITH_POLNUM]    Script Date: 07/21/2015 16:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPIL_SEL_CLAIMSREQUEST_WITH_POLNUM1]
      @TBIL_POLY_REC_ID numeric(18, 0)
      --@TBIL_POLY_MDLE nvarchar(40)
       
AS
BEGIN
     SELECT    *

FROM         TBIL_POLICY_DET INNER JOIN
                      TBIL_POLICY_PREM_INFO ON TBIL_POLICY_DET.TBIL_POLY_POLICY_NO = TBIL_POLICY_PREM_INFO.TBIL_POL_PRM_POLY_NO INNER JOIN
                      TBIL_PRODUCT_DETL ON TBIL_PRODUCT_DETL.TBIL_PRDCT_DTL_CODE = TBIL_POLICY_PREM_INFO.TBIL_POL_PRM_PRDCT_CD 
                      where (TBIL_POLY_REC_ID=@TBIL_POLY_REC_ID) 
                      --AND (TBIL_POLICY_DET.TBIL_POLY_MDLE=@TBIL_POLY_MDLE)
END

