USE [ABS_LIFE]
GO
/****** Object:  StoredProcedure [dbo].[SPIL_PRG_LI_CLM_MATURE_INVESTMENT]    Script Date: 08/04/2015 11:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SPIL_PRG_LI_CLM_MATURE_INVESTMENT]
@pPOLICY_NUMBER nvarchar(35)

AS
BEGIN
DECLARE @pCONTRIBUTION_CLAIM numeric(18, 2), @pTOTAL_LOAN_REPAID numeric(18, 2), @pTOTAL_LOAN_GRANTED numeric(18, 2), @pLOAN_BALANCE numeric(18, 2), @pTOTAL_CLAIM_AMOUNT numeric(18, 2)

SELECT @pCONTRIBUTION_CLAIM = (SELECT SUM(TBFN_TRANS_TOT_AMT) AS 'CONTRIBUTION AMT'      
FROM [ABS_LIFE].[dbo].[TBFN_ALLOC_DETAIL]
where (TBFN_TRANS_POLY_NO = @pPOLICY_NUMBER) and ((TBFN_TRANS_TYPE='N') OR (TBFN_TRANS_TYPE='L') OR (TBFN_TRANS_TYPE='I')))

--SELECT @pCONTRIBUTION_CLAIM AS 'AMT'


SELECT @pTOTAL_LOAN_GRANTED = (SELECT SUM(TBIL_LOAN_DISB_LOAN_AMT_LC) AS 'TOTAL LOAN GRANTED'      
  FROM [ABS_LIFE].[dbo].[TBIL_LOAN_DISBURSE]
  where (TBIL_LOAN_DISB_POLY_NO = @pPOLICY_NUMBER))
  
    
SELECT @pTOTAL_LOAN_REPAID = (SELECT SUM(TBIL_LOAN_REPAY_AMT_LC) AS 'TOTAL LOAN REPAID'      
  FROM [ABS_LIFE].[dbo].[TBIL_LOAN_REPAID]
  where (TBIL_LOAN_REPAY_POLY_NO = @pPOLICY_NUMBER))
  
 
SELECT @pLOAN_BALANCE = @pTOTAL_LOAN_GRANTED - @pTOTAL_LOAN_REPAID
SELECT @pTOTAL_CLAIM_AMOUNT = @pCONTRIBUTION_CLAIM - @pLOAN_BALANCE

CREATE TABLE #INVESTMENT(
POLICY_NUMBER nvarchar(35), CONTRIBUTION_CLAIM  NUMERIC(18, 2), TOTAL_LOAN_REPAID NUMERIC(18, 3), TOTAL_LOAN_GRANTED NUMERIC(18, 2), LOAN_BALANCE numeric(18, 2), TOTAL_CLAIM_AMOUNT numeric(18, 2)
)

INSERT INTO  #INVESTMENT VALUES (@pPOLICY_NUMBER, @pCONTRIBUTION_CLAIM, @pTOTAL_LOAN_REPAID, @pTOTAL_LOAN_GRANTED, @pLOAN_BALANCE, @pTOTAL_CLAIM_AMOUNT)

UPDATE TBIL_CLAIM_PAID SET TBIL_CLM_PAID_TOT_AMT_LC = @pTOTAL_CLAIM_AMOUNT, TBIL_CLM_PAID_LOAN_BAL_AMT_LC = @pLOAN_BALANCE, TBIL_CLM_PAID_LOAN_BAL_AMT_FC = @pLOAN_BALANCE, TBIL_CLM_PAID_CONTRIB_AMT_LC = @pCONTRIBUTION_CLAIM, TBIL_CLM_PAID_CONTRIB_AMT_FC = @pCONTRIBUTION_CLAIM WHERE (TBIL_CLM_PAID_POLY_NO = @pPOLICY_NUMBER)

--SELECT * FROM #INVESTMENT
 
SELECT * FROM TBIL_CLAIM_PAID WHERE (TBIL_CLM_PAID_POLY_NO = @pPOLICY_NUMBER) 


DROP TABLE #INVESTMENT

END
