USE [ABS_LIFE]
GO
/****** Object:  StoredProcedure [dbo].[SPIL_CALC_PART_CLAIM_OR_REJECT_CLAIM]    Script Date: 08/10/2015 09:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[SPIL_CALC_PART_CLAIM_OR_REJECT_CLAIM]
@pPOLICY_NUMBER NVARCHAR(35), @pCLAIM_NUMBER NVARCHAR(35), @pPRODUCT_CODE NVARCHAR(20), @pPARTIAL_PAYMENT INT, @pPOLICY_START_DATE DATETIME,  @pPOLICY_END_DATE DATETIME

	
AS
BEGIN
SET NOCOUNT ON;
DECLARE @PAY_MULITIPLE NCHAR(3), @vINSURE_PERIOD INT, @vRECORD_COUNT INT, @vCALC_PARTIAL_CLAIM NUMERIC(18, 2)
SELECT @PAY_MULITIPLE=(SELECT TBIL_PRDCT_SA_PAY_MULITIPLE FROM TBIL_PRODUCT_DETL WHERE TBIL_PRDCT_DTL_CODE = @pPRODUCT_CODE)
IF @PAY_MULITIPLE='Y'
	BEGIN
		SELECT @vINSURE_PERIOD = DATEDIFF(DD, @pPOLICY_START_DATE, GETDATE())	 --'2017-01-01'	 GETDATE()
		IF @pPARTIAL_PAYMENT = 1
			BEGIN
				IF ((@vINSURE_PERIOD > (1*((DATEDIFF(DD, @pPOLICY_START_DATE, @pPOLICY_END_DATE)/3))) AND (@vINSURE_PERIOD < ((2*(DATEDIFF(DD, @pPOLICY_START_DATE, @pPOLICY_END_DATE))/3)))))
					BEGIN
						SELECT @vRECORD_COUNT = (SELECT COUNT(@pCLAIM_NUMBER) FROM TBIL_CLAIM_PAID WHERE (TBIL_CLM_PAID_CLM_NO = @pCLAIM_NUMBER) AND (TBIL_CLM_PAID_POLY_NO = @pPOLICY_NUMBER))	
							DECLARE @vMINDATE DATETIME
								SELECT @vMINDATE=(SELECT MIN(TBIL_CLM_PAID_AMT_KEYDTE) FROM TBIL_CLAIM_PAID  WHERE  (TBIL_CLM_PAID_CLM_NO = @pCLAIM_NUMBER) AND (TBIL_CLM_PAID_POLY_NO=@pPOLICY_NUMBER))
								SELECT @vCALC_PARTIAL_CLAIM = (SELECT ((TBIL_POL_PRM_SA_LC * 25)/100) FROM TBIL_CLAIM_PAID INNER JOIN TBIL_POLICY_PREM_INFO ON TBIL_POL_PRM_PROP_NO = TBIL_CLM_PAID_POLY_NO WHERE (TBIL_CLM_PAID_CLM_NO = @pCLAIM_NUMBER) AND (TBIL_CLM_PAID_POLY_NO = @pPOLICY_NUMBER) AND (TBIL_CLM_PAID_AMT_KEYDTE = @vMINDATE)) 
								
								UPDATE TBIL_CLAIM_PAID SET TBIL_CLM_PAID_SA_AMT_LC = @vCALC_PARTIAL_CLAIM, TBIL_CLM_PAID_TOT_AMT_LC = @vCALC_PARTIAL_CLAIM WHERE (TBIL_CLM_PAID_CLM_NO = @pCLAIM_NUMBER) AND (TBIL_CLM_PAID_POLY_NO = @pPOLICY_NUMBER) AND (TBIL_CLM_PAID_AMT_KEYDTE = @vMINDATE)
								SELECT TBIL_POL_PRM_SA_LC, TBIL_CLAIM_PAID.*, TBIL_POL_PRM_SA_LC FROM TBIL_CLAIM_PAID INNER JOIN TBIL_POLICY_PREM_INFO ON TBIL_POL_PRM_PROP_NO =TBIL_CLM_PAID_POLY_NO WHERE (TBIL_CLM_PAID_CLM_NO = @pCLAIM_NUMBER) AND (TBIL_CLM_PAID_POLY_NO=@pPOLICY_NUMBER)  AND (TBIL_CLM_PAID_AMT_KEYDTE = @vMINDATE)
							
					END	
				ELSE
					BEGIN
						SELECT MSG='INSURANCE COVER NOT APPLICABLE TO 1ST PAYMENT'
					END			
			END		
			--END
		ELSE IF @pPARTIAL_PAYMENT = 2
			BEGIN
				IF ((@vINSURE_PERIOD > ((2*(DATEDIFF(DD, @pPOLICY_START_DATE, @pPOLICY_END_DATE))/3)))) AND (@vINSURE_PERIOD < ((DATEDIFF(DD, @pPOLICY_START_DATE, @pPOLICY_END_DATE))))
					BEGIN
						DECLARE @vMAXDATE DATETIME
							SELECT @vMAXDATE=(SELECT MAX(TBIL_CLM_PAID_AMT_KEYDTE) FROM TBIL_CLAIM_PAID  WHERE  (TBIL_CLM_PAID_CLM_NO = @pCLAIM_NUMBER) AND (TBIL_CLM_PAID_POLY_NO=@pPOLICY_NUMBER))
							SELECT @vCALC_PARTIAL_CLAIM = (SELECT ((TBIL_POL_PRM_SA_LC * 25)/100) FROM TBIL_CLAIM_PAID INNER JOIN TBIL_POLICY_PREM_INFO ON TBIL_POL_PRM_PROP_NO = TBIL_CLM_PAID_POLY_NO WHERE (TBIL_CLM_PAID_CLM_NO = @pCLAIM_NUMBER) AND (TBIL_CLM_PAID_POLY_NO = @pPOLICY_NUMBER) AND (TBIL_CLM_PAID_AMT_KEYDTE = @vMAXDATE)) 
							
							UPDATE TBIL_CLAIM_PAID SET TBIL_CLM_PAID_SA_AMT_LC = @vCALC_PARTIAL_CLAIM, TBIL_CLM_PAID_TOT_AMT_LC = @vCALC_PARTIAL_CLAIM WHERE (TBIL_CLM_PAID_CLM_NO = @pCLAIM_NUMBER) AND (TBIL_CLM_PAID_POLY_NO = @pPOLICY_NUMBER) AND (TBIL_CLM_PAID_AMT_KEYDTE = @vMAXDATE)
							SELECT TBIL_POL_PRM_SA_LC, TBIL_CLAIM_PAID.*, TBIL_POL_PRM_SA_LC FROM TBIL_CLAIM_PAID INNER JOIN TBIL_POLICY_PREM_INFO ON TBIL_POL_PRM_PROP_NO =TBIL_CLM_PAID_POLY_NO WHERE (TBIL_CLM_PAID_CLM_NO = @pCLAIM_NUMBER) AND (TBIL_CLM_PAID_POLY_NO=@pPOLICY_NUMBER)  AND (TBIL_CLM_PAID_AMT_KEYDTE = @vMAXDATE)
					
					END
					--END HERE
				ELSE
					BEGIN
							SELECT MSG='INSURANCE COVER NOT APPLICABLE TO 2ND PAYMENT'					
					END							
			END	
	END
ELSE IF @PAY_MULITIPLE <> 'Y'
	BEGIN
		SELECT MSG='CLAIM NOT APPLICABLE TO MULTIPLE PAYMENT'
	END

ELSE IF @PAY_MULITIPLE = NULL
	BEGIN
		SELECT MSG='CLAIM NOT APPLICABLE TO MULTIPLE PAYMENT, NULL VAL'
	END
	
END

GO

