USE [ABS_LIFE]
GO
/****** Object:  StoredProcedure [dbo].[SPIL_PRG_LI_CLM_MATURE_RPT]    Script Date: 08/06/2015 11:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[SPIL_PRG_LI_CLM_MATURE_RPT]
--@pQUERY_OPTION INT, 
@pTBIL_CLM_PAID_POLY_NO NVARCHAR (35)

AS
BEGIN
	SET NOCOUNT ON;
SELECT     TBIL_CLAIM_PAID.TBIL_CLM_PAID_MDLE, TBIL_CLAIM_PAID.TBIL_CLM_PAID_CLM_NO, TBIL_CLAIM_PAID.TBIL_CLM_PAID_POLY_NO, TBIL_CLAIM_PAID.TBIL_CLM_PAID_UNDW_YR, 
                      TBIL_CLAIM_PAID.TBIL_CLM_PAID_PRDCT_CD, TBIL_CLAIM_PAID.TBIL_CLM_PAID_CLM_TYP, TBIL_CLAIM_PAID.TBIL_CLM_PAID_POLY_FROM_DT, 
                      TBIL_CLAIM_PAID.TBIL_CLM_PAID_POLY_TO_DT, TBIL_CLAIM_PAID.TBIL_CLM_PAID_MEMB_NO, TBIL_CLAIM_PAID.TBIL_CLM_PAID_DUE_DATE, 
                      TBIL_CLAIM_PAID.TBIL_CLM_PAID_CONTRIB_AMT_LC, TBIL_CLAIM_PAID.TBIL_CLM_PAID_CONTRIB_AMT_FC, TBIL_CLAIM_PAID.TBIL_CLM_PAID_BONUS_AMT_LC, 
                      TBIL_CLAIM_PAID.TBIL_CLM_PAID_BONUS_AMT_FC, TBIL_CLAIM_PAID.TBIL_CLM_PAID_LOAN_BAL_AMT_LC, TBIL_CLAIM_PAID.TBIL_CLM_PAID_LOAN_BAL_AMT_FC, 
                      TBIL_CLAIM_PAID.TBIL_CLM_PAID_SA_AMT_LC, TBIL_CLAIM_PAID.TBIL_CLM_PAID_SA_AMT_FC, TBIL_CLAIM_PAID.TBIL_CLM_PAID_TOT_AMT_LC, 
                      TBIL_CLAIM_PAID.TBIL_CLM_PAID_TOT_AMT_FC, TBIL_CLAIM_PAID.TBIL_CLM_PAID_PD_DT, TBIL_CLAIM_PAID.TBIL_CLM_PAID_CHQ_NO, TBIL_CLAIM_PAID.TBIL_CLM_PAID_TRANS_NO, 
                      TBIL_CLAIM_PAID.TBIL_CLM_PAID_AMT_LC, TBIL_CLAIM_PAID.TBIL_CLM_PAID_AMT_FC, TBIL_CLAIM_PAID.TBIL_CLM_PAID_AMT_FLAG, TBIL_CLAIM_PAID.TBIL_CLM_PAID_AMT_OPERID, 
                      TBIL_CLAIM_PAID.TBIL_CLM_PAID_AMT_KEYDTE, TBIL_CLAIM_PAID.TBIL_CLM_PAID_AMT_OLD_NEW, TBIL_PRODUCT_DETL.TBIL_PRDCT_DTL_DESC, 
                      TBIL_CLAIM_PAID.TBIL_CLM_PAID_CONTRIB_AMT_LC + TBIL_CLAIM_PAID.TBIL_CLM_PAID_SA_AMT_LC + TBIL_CLAIM_PAID.TBIL_CLM_PAID_BONUS_AMT_LC + TBIL_CLAIM_PAID.TBIL_CLM_PAID_LOAN_BAL_AMT_LC
                       AS 'TBIL_CLM_PAID_TOT_AMT_LC_1', TBIL_POLY_ASSRD_CD, TBIL_INSRD_SURNAME +' '+ RTRIM(ISNULL(TBIL_INSRD_FIRSTNAME, '')) AS 'INSURED NAME'
FROM         TBIL_CLAIM_PAID INNER JOIN
                      TBIL_PRODUCT_DETL ON TBIL_CLAIM_PAID.TBIL_CLM_PAID_PRDCT_CD = TBIL_PRODUCT_DETL.TBIL_PRDCT_DTL_CODE
                      INNER JOIN TBIL_POLICY_DET ON TBIL_POLY_POLICY_NO = TBIL_CLM_PAID_POLY_NO INNER JOIN tbil_ins_detail ON TBIL_POLY_ASSRD_CD = TBIL_INSRD_CODE
WHERE     (TBIL_CLAIM_PAID.TBIL_CLM_PAID_CLM_NO = @pTBIL_CLM_PAID_POLY_NO)

END
