USE [ABS_LIFE]
GO
/****** Object:  StoredProcedure [dbo].[SPIL_MOVEDATA_FROM_CLAIMRPTD_TO_CLAIMPAID]    Script Date: 08/09/2015 23:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[SPIL_MOVEDATA_FROM_CLAIMRPTD_TO_CLAIMPAID] 	
			@pTBIL_CLM_PAID_MDLE char(3) 
           ,@pTBIL_CLM_PAID_POLY_NO nchar(50)
           ,@pTBIL_CLM_PAID_CLM_NO nchar(50)
           ,@pTBIL_CLM_PAID_UNDW_YR nvarchar(10)
           ,@pTBIL_CLM_PAID_PRDCT_CD nchar(10)
           ,@pTBIL_CLM_PAID_CLM_TYP nchar(10)
           ,@pTBIL_CLM_PAID_POLY_FROM_DT datetime
           ,@pTBIL_CLM_PAID_POLY_TO_DT datetime
AS
BEGIN

	SET NOCOUNT ON;

IF EXISTS(SELECT * FROM TBIL_CLAIM_PAID WHERE TBIL_CLM_PAID_CLM_NO=@pTBIL_CLM_PAID_CLM_NO)
	BEGIN 
	DECLARE @vREC_COUNT2 INT
		SELECT @vREC_COUNT2 = (SELECT COUNT(TBIL_CLM_PAID_CLM_NO) FROM TBIL_CLAIM_PAID WHERE TBIL_CLM_PAID_CLM_NO=@pTBIL_CLM_PAID_CLM_NO)
		IF @vREC_COUNT2 < 2
			BEGIN
				INSERT INTO TBIL_CLAIM_PAID(TBIL_CLM_PAID_MDLE, TBIL_CLM_PAID_CLM_NO, TBIL_CLM_PAID_POLY_NO, TBIL_CLM_PAID_UNDW_YR,TBIL_CLM_PAID_PRDCT_CD,TBIL_CLM_PAID_CLM_TYP,TBIL_CLM_PAID_POLY_FROM_DT,TBIL_CLM_PAID_POLY_TO_DT, TBIL_CLM_PAID_AMT_KEYDTE) 
				   VALUES(@pTBIL_CLM_PAID_MDLE, @pTBIL_CLM_PAID_CLM_NO, @pTBIL_CLM_PAID_POLY_NO, @pTBIL_CLM_PAID_UNDW_YR ,@pTBIL_CLM_PAID_PRDCT_CD ,@pTBIL_CLM_PAID_CLM_TYP ,@pTBIL_CLM_PAID_POLY_FROM_DT ,@pTBIL_CLM_PAID_POLY_TO_DT, GETDATE())
		           
		DECLARE @pPOL_PRM_SA_LC NUMERIC(18, 2)
		SELECT @pPOL_PRM_SA_LC = (SELECT TBIL_POL_PRM_SA_LC FROM TBIL_POLICY_PREM_INFO WHERE TBIL_POL_PRM_POLY_NO = @pTBIL_CLM_PAID_POLY_NO)

		UPDATE TBIL_CLAIM_PAID SET TBIL_CLM_PAID_SA_AMT_LC = @pPOL_PRM_SA_LC, TBIL_CLM_PAID_SA_AMT_FC = @pPOL_PRM_SA_LC


		SELECT TBIL_CLAIM_PAID.*, TBIL_PRDCT_DTL_CAT FROM TBIL_CLAIM_PAID INNER JOIN TBIL_PRODUCT_DETL ON TBIL_PRDCT_DTL_CODE=TBIL_CLM_PAID_PRDCT_CD
		 WHERE TBIL_CLM_PAID_CLM_NO=@pTBIL_CLM_PAID_CLM_NO
				
				--SELECT TBIL_CLAIM_PAID.*, TBIL_PRDCT_DTL_CAT FROM TBIL_CLAIM_PAID INNER JOIN TBIL_PRODUCT_DETL ON TBIL_PRDCT_DTL_CODE=TBIL_CLM_PAID_PRDCT_CD WHERE TBIL_CLM_PAID_CLM_NO=@pTBIL_CLM_PAID_CLM_NO
			END	
	END 
ELSE
	BEGIN
		INSERT INTO TBIL_CLAIM_PAID(TBIL_CLM_PAID_MDLE, TBIL_CLM_PAID_CLM_NO, TBIL_CLM_PAID_POLY_NO, TBIL_CLM_PAID_UNDW_YR,TBIL_CLM_PAID_PRDCT_CD,TBIL_CLM_PAID_CLM_TYP,TBIL_CLM_PAID_POLY_FROM_DT,TBIL_CLM_PAID_POLY_TO_DT, TBIL_CLM_PAID_AMT_KEYDTE) 
				   VALUES(@pTBIL_CLM_PAID_MDLE, @pTBIL_CLM_PAID_CLM_NO, @pTBIL_CLM_PAID_POLY_NO, @pTBIL_CLM_PAID_UNDW_YR ,@pTBIL_CLM_PAID_PRDCT_CD ,@pTBIL_CLM_PAID_CLM_TYP ,@pTBIL_CLM_PAID_POLY_FROM_DT ,@pTBIL_CLM_PAID_POLY_TO_DT, GETDATE())
		           
		DECLARE @pPOL_PRM_SA_LC2 NUMERIC(18, 2)
		SELECT @pPOL_PRM_SA_LC2 = (SELECT TBIL_POL_PRM_SA_LC FROM TBIL_POLICY_PREM_INFO WHERE TBIL_POL_PRM_POLY_NO = @pTBIL_CLM_PAID_POLY_NO)

		UPDATE TBIL_CLAIM_PAID SET TBIL_CLM_PAID_SA_AMT_LC = @pPOL_PRM_SA_LC, TBIL_CLM_PAID_SA_AMT_FC = @pPOL_PRM_SA_LC2


		SELECT TBIL_CLAIM_PAID.*, TBIL_PRDCT_DTL_CAT FROM TBIL_CLAIM_PAID INNER JOIN TBIL_PRODUCT_DETL ON TBIL_PRDCT_DTL_CODE=TBIL_CLM_PAID_PRDCT_CD
		 WHERE TBIL_CLM_PAID_CLM_NO=@pTBIL_CLM_PAID_CLM_NO
			
	END
END 







