USE [ABS_LIFE]
GO
/****** Object:  StoredProcedure [dbo].[TBIL_POLYNUM_CLAIMREQSEARCH]    Script Date: 07/21/2015 16:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[TBIL_POLYNUM_CLAIMREQSEARCH]
	
	@TBIL_POLY_REC_ID varchar(50)
AS
BEGIN

	SET NOCOUNT ON;
 
   exec SPIL_SEL_CLAIMSREQUEST_WITH_POLNUM  @TBIL_POLY_REC_ID

END
